html, body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #fefadf;
}

#dashboard {
    width: 1920px;
    height: 1080px;
}

/* Header */
#header {
    background-color: #273617;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1 {
    flex: 3;
    padding: 0;
    margin: 10px;
}

.header-selector {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #5f6c37;
    font-size: 130%;
    cursor: pointer;
    color: #fefadf;
}

/* General Dashboard */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin-top: 20px;
}

.chart-container {
    margin: 10px;
    height: 100%;
    background-color: #f8ecde;
    border-radius: 10px;
    position: relative;
}

.vis-lock {
    position: absolute;
    top: 10px;
    right: 0%;
    width: 40px;
    cursor: pointer;
}

.vis-lock img {
    width: 100%;
}

.selector {
    background-color: #bc6c23;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 1;
}

select.selector {
    width: 200px;
    height: 40px;
    color: #fefadf;
}

div.selector {
    width: 180px;
    height: 20px;
    position: relative;
    display: flex;
}

ul.selector {
    width: 180px;
    height: 20px;
    position: relative;
    display: flex;
}

div.selector p, a {
    padding: 0;
    margin: 0;
}

div.selector a {
    cursor: pointer;
}

.chart {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

/* Bar Chart */

#bar-chart-dimension-selector {
    top: 0;
    left: 0;
}

/* Scatter Plot - Softness */

#scatter-plot-dimension-selector {
    top: 0;
    left: 0;
}



/* Scatter Plot - General */

#jitter-plot-dimension-x-selector {
    top: 0px;
    left: 220px;
}

#jitter-plot-dimension-y-selector {
    top: -56px;
    left: 0;
}

#jitter-plot-preset-selector {
    top: 0;
    left: 0;
}

/* Word Cloud */

#word-cloud-dimension-selector {
    top: 0;
    left: 0;
}

/* Dropdowns */

.main-navigation {
    z-index: 2
}

ul {
    list-style: none;
}

li {
    width: 100%;
}

ul li {
    display: block;
    position: relative;
    float: left;
}

.main-navigation ul li {
    background: #5f6c37;
}

.selector ul li {
    background: #bc6c23;
}


li ul { 
    display: none; 
}

ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fefadf;
    font-family: "Open Sans", sans-serif;
}

ul ul li a {
    padding: 6px;
}

.selector ul ul li {
    padding: 6px;
}

li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li { 
    float: none; 
}

.main-navigation ul li a:hover { 
    background: #556131; 
}

.main-navigation ul ul ul li a:hover { 
    background: #5f6c37; 
}

.selector ul li:hover { 
    background: #ad6420; 
}

.main-navigation li ul li { 
    border-top: 0;
}

ul ul {
    top: 100%;
    left: 0%;
    right: 0%;
    width: 180%;
    padding: 0;
    text-align: left;
}

ul ul ul {
    left: 100%;
    top: 0;
    width: 100%;
    text-align: left;
}

ul ul ul li {
    overflow: hidden;
}

ul ul ul li a {
    float: left;
}

ul:before, ul:after {
    content: " ";
    display: table;
}

ul:after { 
    clear: both; 
}